* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 1170px;
    margin: 15px auto;
}

.section-customers{
    padding: 50px 60px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}


.section-head{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items:center;
    gap: 40px;
}

.section-head__title{
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 400;
    font-family: 'Raleway';
}

.section-head__line{
    margin-top: 10px;
    width: 170px;
    border-bottom:1px solid rgb(206, 114, 129);

}

.section-head__text{
    font-size: 18px;
    font-weight: 400;
    color: #86878B;
    font-family: 'Raleway';
}

.comments-container{
    margin-top: 83px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.comment-card__text{
    width: 370px;
    height: 180px;
    background-color: rgba(226, 226, 226, 1);
    border-radius: 10px;
    position: relative;
    font-family: 'Raleway';
    font-size: 1.1rem;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0 25px;
    color:rgba(134, 135, 139, 1);
}

#triangle-down {
	width: 30px;
	height: 20px;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid rgba(226, 226, 226, 1);
    position: absolute;
    top: 180px;
    left: 70px;
}

.comment-card-customer{
    margin-top: 66px;
    display: flex;
    justify-content: start;
    
}

.comment-card-customer__img{
    width: 70px;
    height: 70px;
}

.comment-card-customer-name{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comment-card-customer__text{
    font-family: 'Raleway';
   font-size: 1.1rem;
}

.comment-card-customer__title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 18px 0;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 1.5rem;
  
}